html, body{
    margin: 0;
    width: 100%;

    background-color:deepskyblue;

}
header{
    background-color: firebrick;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2{
    margin: 0;
}

h1{
    padding-top: 10px;
}
h2{
    padding-bottom: 5px;
    padding-top: 5px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: firebrick;
    height: 50px;

}

footer>a>button{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: firebrick;
    border: 0;
}

footer>a>button:hover{
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightblue;
    border: 0;
}

.consola{
    position: fixed;
    bottom: 50px;
    width: 100%;
    background-color: darkslategray;
    color:lime
    
}
.consola>p{
    padding-left: 10px;
}

main.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 25vw;
    height: 50vh;

}
main.principal>a{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        text-decoration: none;


}

main.principal>a>button{

        height: 100px;

    background-color: aliceblue;
    border: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;

}

main.principal>a>button:hover{

     background-color: firebrick;
     color: antiquewhite;
}

main.principal>a>button:active{

     background-color: firebrick;
     color: antiquewhite;
     border: blue 4px solid;
}

/* ALTA DOANTES*/
form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    padding-left: 20px;
}
form>input, form>select
{
    width: 20vw;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
form>button{
    width: 10vw;
    margin-bottom: 10px;
    background-color: lightblue;
    color: firebrick;
    font-size: large;
}

form>button:hover{

    color: lightblue;
    background-color: blue;
}
/*lista doantes*/

main.listaDoantes>table{
    width: 100%;
    background-color: antiquewhite;
    font-size: large;
}
main.listaDoantes>h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
    color: firebrick;
}